/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/**
 * GENERAL STYLES
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    text-shadow: none;
    
    background-image:url('../img/app-handsup.jpg');
    /*background-image:url('../img/blue.jpg');*/
    background-repeat:no-repeat;
    background-size:cover;
    /*background-position: center; */
    background-position: top right;
    
    
}

@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?j8044n');
    src:    url('icomoon.eot?j8044n#iefix') format('embedded-opentype'),
    url('icomoon.ttf?j8044n') format('truetype'),
    url('icomoon.woff?j8044n') format('woff'),
    url('icomoon.svg?j8044n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-mijnmedicatie:before {
    content: "\e903";
}


.icon-medicatie:before {
    content: "\e902";
}

.icon-mijnmedicatie_black:before {
    content: "\e901";
}
.icon-pharmeon-icon1:before {
    content: "\e900";
}

.ui-page
{
    
    background: transparent;
    color: #333;
    text-shadow: none;
}

.ui-header
{
    padding-top: 20px !important;
    box-shadow: none !important;
    text-shadow: none;
    color:#FFF;
    border-bottom: 1px solid #FFF;
}

.scroll_wrapper {
    position:absolute; 
    z-index:1;
    top:65px; bottom:0; left:0;
    width:100%;
    overflow:auto;
}

/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited,
/* Button active */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active
{
    background-color: inherit !important;
    color: #FFF !important;
    margin-top: 16px;
    border: 0px solid #FFF;
    box-shadow: none;
    text-shadow: none !important;
    margin-left: -6px;
    font-weight: normal;
    font-size: 1em;
}


/* Button up */
.ui-page-theme-a .ui-select .ui-btn,
html .ui-bar-a .ui-select .ui-btn,
html .ui-body-a .ui-select .ui-btn,
html body .ui-group-theme-a .ui-select .ui-btn,
html head + body .ui-select .ui-btn .ui-btn-a
{
    color: #333 !important;
}

.ui-page-theme-a .ui-select .ui-btn
{
    color: #333 !important;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #083866;
}

.ui-page-theme-a #calendar .ui-btn
{
    color: #333;
    margin-left: 7px;
    margin-right: 10px;
    text-align:center;
}

#calendar .ui-btn, #calendar .ui-btn-active
{
    color: #333;
    margin-left: 7px;
    margin-right: 10px;
    text-align:center;
}

#calendar .ui-btn
{
    /*color: #CCC !important;*/
}

#calendar .ui-btn-active:not(.ui-btn-today) 
{
    color: #FFF !important;
}

#calendar .importance-2
{
    color: #333 !important;
}

#calendar .ui-btn-today
{
    color: #FFF !important;
}

.ui-page-theme-a .ui-btn-a
{
    color: red !important;
}

.clearer
{
    clear: both;
}

hr
{
    background-color: #A1A1A1;
    height: 1px;
    border: 0px solid #FFF;
}

.info
{
    display: none;
    color: #333;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#medicationrequest_info, #medicationoverview_info, #askquestion_info
{
    margin-right: 32px;
}

.practiceUl
{
    box-shadow: none;
    border-radius: 0px;
}

.practiceUl > li > a.ui-btn
{
    color: #333;
    background-color: #FFF !important;
    margin-bottom: 1px;
}
.practiceUl > .ui-li-static.ui-last-child, .practiceUl > .ui-li-divider.ui-last-child, .practiceUl > li.ui-last-child > a.ui-btn
{
    border-bottom-width: 0px; 
}
/*
 * DASHBOARD STYLES
 */


/* message center */
#message_center
{
    background-color: #FFF;
    margin-bottom: 50px;
    border: 2px solid #F8991D;
    padding: 0px 0px 0px 0px;
    display: none;
    margin-right: 32px;
}

#message_center .title
{
    text-align: center;
}

#message_center .icon
{
    float: left;
    padding:5px;
    padding-left: 15px;
    margin-right: 15px;
    color: #737272;

}

#message_center .message
{
    float: left;
    width: 79%;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#message_center .content
{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
}

/* quicklinks and settingns */
.quicklinks .medication, .settings .logout
{
    background-color:rgba(255, 255, 255, .98);
    display: block;
    min-height: 50px;
    border-radius: 5px;
    padding:10px;
    border: 1px solid #ccc;
    margin-right: 32px;
}

.quicklinks a, .quicklinks a:active, .quicklinks a:hover,
.settings a, .settings a:active, .settings a:hover
{
    color: #333 !important;
    text-decoration: none;
    font-weight: inherit;
}

.quicklinks section, .settings section
{
    margin-bottom: 15px;
}

.quicklinks .icon, .settings .icon
{
    color: #083866;
    float: left;
    /*padding-right: 15px;*/
    width:60px;
}

.quicklinks .message, .settings .message
{
    float: left;
    margin-left: 15px;
}

.settings .message
{
    padding-top: 15px;
}

.quicklinks small, .settings small
{
    color: #737272;
}

.quicklinks .chevron, .settings .chevron
{
    float: right;
    padding-right: 5px;
    padding-top: 15px;
    color: #737272;
}

.quicklinks .disable
{
    color: #CCC;
    
}

.disablelinking
{
    pointer-events: none;
    cursor: default;
    display:none;
}
/**
 * DIALOGS
 **/

.selector
{
    border-bottom: 1px solid #CCC;
    padding: 5px;
    padding-top: 10px;
    height: 30px;
    min-width: 250px;
}

.selector a
{
    color: #6B6B6A !important;
    text-decoration:none;
}

.selector .title
{
    float: left;
    font-weight: normal;
    padding-top:3px;
    padding-left: 10px;
    padding-right: 10px;
}

.selector .icon
{
    float: right;
    font-size: 1.3em;
    padding-right: 10px;
}

/**
 * MEDICATION OVERVIEW
 **/

.medication_overview
{
    margin-left:-16px;
    margin-right: -16px;
    margin-bottom: 100px;
}

.medicationList
{
    margin-top: 1px;
    padding: 15px;
    background-color: #FFF;
}

.medicationList .title, .medicationRequestTop .title
{
    font-weight: bold;
}

.medicationList .message
{
    color: #737272;
    font-size: 0.9em;
}

.medicationList .medicationContainer
{
    float: left;
    width: 90%;
}
.medicationList .chevron
{
    padding-top: 10px;
    float: right;
}

.medicationRequestBottom
{
    margin-top: 3px;
}

.medicationRequestBottom .message
{
    float: left;
}

.medicationRequestBottom .cart
{
    float: right;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    font-size: 0.9em;
}

.medicationRequestBottom .request
{
    color: #19AB20;
    border: 1px solid #19AB20;
}

.medicationRequestBottom .added
{
    color: #083866;
    border: 1px solid #083866;
}

.medicationDetails .message
{
    padding-top: 15px;
    font-size: 0.9em;
    color: #000;
}

.medicationDetails .reminder
{
    margin-top: 20px;
    width: 220px;
    
    font-size: 1em;
    color: #19AB20;
    padding:5px 7px 5px 7px;
    border: 1px solid #19AB20;
    border-radius: 5px;
    
}

.medicationDetails .red
{
    color: red;
    border: 1px solid red;
}

.showfrequenty
{
    display: block;
}

.hidefrequenty
{
    display: none;
}

.medicationDetails
{
    display: none;
}

.actions
{
    margin-top: 10px;
    color: #737272;
    font-size:0.9em;
}

.actions strong, .actions i
{
    color: #000;
    font-weight: normal;
}
.quit_medication
{
    padding: 10px;
    border-radius: 5px;
    float: left;
    border: 1px solid #083866;
    width: 40%;
}

.change_medication, .changed_medication
{
    padding: 10px;
    border-radius: 5px;
    float: right;
    border: 1px solid #083866;
    width: 40%;
}

.startagain
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #083866;
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
}

.actions .left
{
    float: left;
}

.actions .icon
{
    margin-top: 3px;
}

.actions .explanation
{
    padding-left: 5px;
}

#requestlist
{
    background-color: #F8991D;
    width: 100%;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #FFF;
    /*display:none;*/ 
    padding: 15px;
}

#request_confirmation
{
    background-color: #19AB20;
    width: 100%;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #FFF;
    padding: 15px;
}

#requestlist .total, #request_confirmation .total
{
    float: left;
}

#requestlist .message, #request_confirmation .message, #sendrequest .message
{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 1.3em;
}

#request_confirmation .message
{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.3em;
}

#requestlist .direction, #sendrequest .direction
{
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}

#request_confirmation .direction
{
    float: right;
    margin-top: 10px;
    margin-right: 25px;
}

#requestlist .total #requestnumber
{
    margin-top: 10px;
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color:#F8991D;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.requestlist_overview
{
    
}

.requestlist_container
{
    padding: 10px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.requestlist_container .title
{
    font-weight: bold;
}

.requestlist_container .information
{
    float: left;
    margin-top: 5px;
}

.requestlist_container .actions
{
    float: right;
    margin-top: 5px;
}

.requestlist_container .actions i
{
    color: red;
    font-size: 1.1em;
    margin-top: 5px;
}

.information .border
{
    color: #F8991D;
    border: 1px solid #F8991D;
    border-radius: 3px;
    padding: 0px 3px 3px 3px;
    margin-left: 10px;
    font-size: 0.9em;
}

#sendrequest
{
    background-color: #126793;
    width: 100%;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    color: #FFF;
    left:0;
    padding: 15px;
}

.change_amount, #request_confirmation
{
    display: none;
}

.change_amount_input
{
    width: 40px;
    float: left;
}

.change_amount_text
{
    float: left;
    padding-top: 15px;
}

.change_amount_text .border
{
    color: #19AB20;
    border: 1px solid #19AB20;
    border-radius: 3px;
    padding: 0px 3px 3px 3px;
    margin-left: 10px;
    font-size: 0.9em;
}

.formlayout
{
    background-color: #FFF;
    padding: 10px;
    margin-left: -16px;
    margin-right: -16px;
}

.scroll_wrapper .formlayout, .scroll_wrapper .medication_overview
{
    margin-right: 16px;
}

.formlayout label
{
    padding-left: 10px;
}

.formlayout .ui-input-text
{
    font-size: 1.0em !important;
    border:1px solid #083866;
    box-shadow: none;
}

.formlayout textarea, .finalize_wrapper textarea
{
    height:150px !important;
    font-size: 1.0em !important;
    border: 1px solid #083866 !important;
    box-shadow: none;
}

.formlayout .textarea_container, .suggestion_container .textarea_container, .finalize_wrapper .textarea_container, #loginContainer .textarea_container, #updateloginContainer .textarea_container
{
    margin-left: 10px;
    margin-right: 10px;
}

.save_button
{
    border: 1px solid #E1E1E1 !important;
    margin-left: 10px !important;
    margin-right: 10px;
}

.strike
{
    text-decoration: line-through;
}

.show
{
    display: block;
}

.hide
{
    display: none;
}

/*
 * ECONSULT
 */

.employees_container
{
    background-color: #FFF;
    padding: 10px;
    margin-left: -16px;
    margin-right: -16px;
}

.employee_wrapper
{
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.employee_wrapper .image
{
    float: left;
    color: #083866;
}

.employee_wrapper .description
{
    float: left;
    padding-left: 25px;
}

.employee_wrapper .description small
{
    color: #737272;
}

.employee_wrapper .chevron
{
    margin-top: 15px;
    float: right;
}

#consult_medewerker, #agenda_medewerker
{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #083866;
}

#consult_medewerker .thumb, #consult_medewerker .name, #agenda_medewerker .thumb, #agenda_medewerker .name
{
    float: left;
    padding-right: 20px;
}

#consult_medewerker .thumb, #agenda_medewerker .thumb
{
    color: #083866;
}

#consult_medewerker .name, #agenda_medewerker .name
{
    padding-top: 7px;
}

/**
 * CONSULT OVERVIEW
 **/

.consultoverview, .agendaoverview
{
    margin-left: -16px;
    margin-right: -16px;
}

.consultoverview .wrapper, .agendaoverview .wrapper
{
    background-color: #FFF;
    margin-bottom: 1px;
    
    padding: 15px 10px 15px 10px;
}

.consultoverview .wrapper .title, .agendaoverview .wrapper .title
{
    float: left;
    font-weight: bold;
}

.consultoverview .wrapper .chevron, .agendaoverview .wrapper .chevron
{
    float: right;
}

.consultoverview #unread_container, .consultoverview #open_container, .agendaoverview #open_agendacontainer
{
    display: block;
}

.consultoverview #closed_container, .agendaoverview #closed_agendacontainer
{
    display: none;
}

.consultoverview .unread, .consultoverview .open, .consultoverview .closed, .agendaoverview .open, .agendaoverview .closed
{
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 1px;
}

.consultoverview .unread .subject, .consultoverview .open .subject, .consultoverview .closed .subject, .agendaoverview .open .subject, .agendaoverview .closed .subject
{
    font-weight: bold;
}

.consultoverview .unread .message, .consultoverview .open .message, .consultoverview .closed .message, .agendaoverview .open .message, .agendaoverview .closed .message
{
    color:#737272;
    font-size: 0.9em;

}

.consultoverview .unread .unread_wrapper, .consultoverview .open .open_wrapper, .consultoverview .closed .closed_wrapper, .agendaoverview .open .open_wrapper, .agendaoverview .closed .closed_wrapper
{
    float: left;
}

.consultoverview .unread .chevron, .consultoverview .open .chevron, .consultoverview .closed .chevron, .agendaoverview .open .chevron, .agendaoverview .closed .chevron
{
    float: right;
    margin-top: 10px;
}

#open_consults, #unread_consults, #closed_consults
{
    display:none;
}

/**
 * CONSULT DETAILS
 **/

.question_consult
{

}

.question_consult .question::after {
    border-color: #FFF transparent;
    border-style: solid;
    border-width: 20px 20px 0 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    width: 0;
}

.question_consult .answer::after {
    border-color: #FFF transparent;
    border-style: solid;
    border-width: 20px 0 0 20px;
    bottom: -20px;
    content: "";
    display: block;
    right: 20px;
    position: absolute;
    width: 0;
}
.question_consult .question, .question_consult .answer {
    background-color:#FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 1em 0 3em;
    padding: 15px;
    position: relative;
    width: 80%;
}

.question_consult .answer
{
   margin-left:10%;
}

.question_consult .subject
{
    font-weight: bold;
}

.question_consult .message
{
    font-size: 0.9em;
}

.question_consult .date
{
    color:#737272;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}

/**
 * AGENDA
 **/

.suggestion_container
{
    background-color: #FFF;
    margin-left: -16px;
    margin-right: -16px;
    padding:10px;
}

.suggestion_container .suggestion_wrapper
{
    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px;
    background-color: #083866;
    color: #FFF;
}

.suggestion_wrapper .left
{
    float: left;
}

.suggestion_wrapper .right
{
    margin-top: 10px;
    float: right;
}

.suggestion_container .change_wrapper
{
    margin-top: 50px;
    padding-bottom: 25px;
}

.suggestion_container .change_wrapper .datetime_wrapper
{
    border: 1px solid #333;
    padding: 10px;
    border-radius: 3px;
    width: 40%;
    float: left;
}

.suggestion_container .change_wrapper .time_wrapper
{
    border: 1px solid #083866;
    padding: 10px;
    border-radius: 3px;
    width: 40%;
    float: right;
}

.suggestion_container .change_wrapper .time_wrapper .icon, .suggestion_container .change_wrapper .datetime_wrapper .icon
{
    margin-top: 0px;
    padding-right: 8px;
}

.suggestion_container .change_wrapper .time_wrapper .message small,
.suggestion_container .change_wrapper .datetime_wrapper .message small
{
    font-size: 0.9em;
    color: #737272;
}

.suggestion_container .change_wrapper .time_wrapper .icon,
.suggestion_container .change_wrapper .time_wrapper .message,
.suggestion_container .change_wrapper .datetime_wrapper .icon,
.suggestion_container .change_wrapper .datetime_wrapper .message
{
    float: left;
}

.agenda_finalize, .agenda_changetime
{
    background-color: #FFF;
    margin-left: -16px;
    margin-right: 16px;
    padding:10px;
}
.agenda_changetime
{
    margin-right: -16px;
}

.agenda_changeday
{
    margin-left: -16px;
    margin-right: -16px;
    padding:10px;
}

.finalize_wrapper
{
    padding-bottom: 15px;
}

.finalize_wrapper .textarea_container
{
    margin-top: 30px;
}

.finalize_wrapper .icon
{
    float: left;
    margin-right: 10px;
}
.finalize_wrapper .title
{
    float: left;
    margin-top: 5px;
}



.changetime_wrapper
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.agenda_changetime .timeslot
{
    background-color: #083866;
    border-radius: 3px;
    color: #FFF;
    margin-right: 3px;
    margin-left: 3px;
    float: left;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.agenda_changeday .dayslot
{
    padding: 10px;
    padding-left:26px;
    padding-right:26px;
    margin-left:-16px;
    margin-right: -16px;
    margin-bottom: 1px;
    background-color: #FFF;
}

.agenda_changeday .dayslot .title
{
    float: left;
}

.agenda_changeday .dayslot .chevron
{
    float: right;
}

.appointmentdetails
{
    
    margin-left:-16px;
    margin-right: -16px;
    margin-bottom: 1px;
    background-color: #FFF;
}

.appointmentdetails_wrapper
{
    padding: 10px;
}

.appointmentdetails_wrapper .title
{
    float: left;
    
}

.appointmentdetails_wrapper #appointment_remove
{
    float: right;
    font-size:0.8em;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    display:none;
}

.appointmentdetails_wrapper .icon
{
    float: left;
    margin-right: 15px;
}

.practicedetails
{
    margin-left:-16px;
    margin-right: -16px;
    margin-bottom: 1px;
    background-color: #FFF;
}

.practicedetails .practice_container
{
    padding: 10px;
}

.practicedetails .practice_container a
{
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

.practicedetails .openinghours_container
{
    padding: 10px;
}

.practicedetails .openinghours_container .left
{
    width: 30%;
}

.practicedetails .openinghours_container .left, .practicedetails .openinghours_container .right
{
    float: left;
    padding:5px 0px 5px 0px;
}

/* LOGIN FORM */

#loginContainer, #updateloginContainer
{
    margin-top: 40px;
}

#login-loader, #feedbackform-loader, #updatelogin-loader, #sessioncode-loader, #updatesessioncode-loader, 
#sendconsult-loader, #appointment-detail-loader, #settings-loader, #dashboard-loader, #selectagenda-loader, 
#agenda-loader, #consult-loader, #reminderpage-loader, #orderpage-loader, #afspraak-loader, #appointment-details-loader,
#med-popup-loader, #question-popup-loader, #agenda-popup-loader
{
    /*color: #083866;*/
    color: #DB6012;
    position: absolute;
    top: 50%;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    width: 60px;
    height: 60px;
    display: none;
    z-index:1 !important;
}

#dashboard-loader
{
    top: 50%;
    left:-16px;
}

#usersettings-loader, #registration-loader
{
    color: #DB6012;
    position: absolute;
    bottom: -50%;
    right:0;
    left:-10px;
    margin-left:auto;
    margin-right:auto;
    width: 60px;
    height: 60px;
    display: none;
    z-index:1;
}

#registration-loader
{
    bottom: 10%;
    
}

.white
{
    color: #FFF;
}

#disclaimerInfo
{
    margin-right:32px;

}

#disclaimerInfo p, #disclaimerInfo li, #disclaimerInfo h2
{
    padding: 10px;
}

/* PINCODE STYLING */
#pincodeContainer input[type=password] {
    padding: 10px;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 30px;
}

#feedbackContainer p 
{
    padding-left: 10px;
}

.practiceLi a
{
    color: #333 !important;
}

